<div class="container">
  <mat-grid-list [cols]="cols" rowHeight="600px">
    <mat-grid-tile>
      <mat-card class="post-title" rowspan="6" style="width: 400px;">
        <mat-card-title>flowchart.js</mat-card-title>
        <mat-card-subtitle>基于SVG创建Flow Chart</mat-card-subtitle>
        <img mat-card-avatar src="https://picsum.photos/300/300/?image=1" />
        <img mat-card-image src="https://picsum.photos/300/300/?image=1" />
        <mat-card-content>从图的文本表示中绘制简单的SVG流程图</mat-card-content>
        <mat-card-actions align="end">
          <a mat-button color="primary" href="http://flowchart.js.org" target="_blank">官网</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="post-title" rowspan="6"  style="width: 400px;">
        <mat-card-title>go.js</mat-card-title>
        <mat-card-subtitle>go.js 提供一整套的JS工具</mat-card-subtitle>
        <img mat-card-avatar src="https://picsum.photos/300/300/?image=2" />
        <img mat-card-image src="https://picsum.photos/300/300/?image=2" />
        <mat-card-content>支持各种交互式图表的创建。有免费版和收费版</mat-card-content>
        <mat-card-actions align="end">
          <a mat-button color="primary" href="http://www.gojs.net/latest/index.html" target="_blank">官网</a>
          <a mat-button color="accent" routerLink="/gojs">Demo</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="post-title" rowspan="6"  style="width: 400px;">
        <mat-card-title>joint.js</mat-card-title>
        <mat-card-subtitle> 另一个创建图标库的工具</mat-card-subtitle>
        <img mat-card-avatar src="https://picsum.photos/300/300/?image=3" />
        <img mat-card-image src="https://picsum.photos/300/300/?image=3" />
        <mat-card-content>一个创建图标库的工具，也提供免费版和商业版</mat-card-content>
        <mat-card-actions align="end">
          <a mat-button color="primary" href="http://www.jointjs.com/" target="_blank">官网</a>
          <a mat-button color="accent" routerLink="/jointjs">Demo</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="post-title" rowspan="6"  style="width: 400px;">
        <mat-card-title>jsPlumb</mat-card-title>
        <mat-card-subtitle>是一套开源的流程图创建工具</mat-card-subtitle>
        <img mat-card-avatar src="https://picsum.photos/300/300/?image=4" />
        <img mat-card-image src="https://picsum.photos/300/300/?image=4" />
        <mat-card-content>jsPlumb是一套开源的流程图创建工具 ，小巧精悍，使用简单</mat-card-content>
        <mat-card-actions align="end">
          <a mat-button color="primary" href="https://jsplumbtoolkit.com/" target="_blank">官网</a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>